@import url("https://fonts.googleapis.com/css2?family=Flavors&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dokdo&display=swap");

.bioContainer {
  background: linear-gradient(rgb(237, 249, 237), rgb(225, 225, 232));
  min-width: 1100px;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem 1rem 1rem 1rem;
  min-height: 875px;

  color: black;
  font-family: "Dokdo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

/* row 1 */
.firstRow {
  display: flex;
  position: relative;
}
/* column1 */
.achievements {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
  flex: 1;
  padding-top: 6rem;
  padding-left: 0.5rem;
}
.achievementsText1 {
  transform: rotate(-3deg);
}
.achievementsText2 {
  margin-right: 60px;
  transform: rotate(-5deg);
}

.achievementsImage1 {
  position: absolute;
  top: 180px;
  left: 121px;
  width: 8%;
}
.achievementsImage2 {
  position: absolute;
  top: 221px;
  left: 257px;
  width: 10%;
}
/* column2 */

.namePhoto {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 50px;
  position: relative;
}
.name {
  width: 363px;
}

.photo {
  width: 224px;
  height: 224px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 51px;
  left: 72px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* column 3 */
.support {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex: 1;
  padding-top: 3rem;
  position: relative;
  transform: rotate(-25deg);
  margin-right: 22px;
}

.supportText1 {
  transform: rotate(2deg);
}

.supportText2 {
  transform: rotate(24deg);
}
.supportImage1 {
  width: 16%;
  position: absolute;
  top: 15px;
  left: 911px;
}

/* quote */

.quote {
  font-family: "Flavors", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  width: 650px;
  margin-top: 6px;
  margin-bottom: 36px;
  padding: 10px;
  border-radius: 34px;
  background-color: #feced0;
}
/* second row */

.secondRow {
  display: flex;
  margin-bottom: 32px;
}

.professional {
  flex-basis: 37%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding-right: 60px;
  padding-left: 60px;
  transform: rotate(-10deg);
}

.complexTask {
  flex-basis: 31%;
  display: flex;
  align-items: flex-end;
}

.personalFacts {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* third row */

.thirdRow {
  display: flex;
}

.wisdom {
  flex: 1;
}

.community {
  flex: 1;
  display: flex;
}
.communityText1 {
  padding-top: 107px;
  transform: rotate(12deg);
}

/* images attached to biocontainer */

.image5 {
  width: 11%;
  position: absolute;
  top: 2325px;
  left: 960px;
}

.image9 {
  width: 12%;
  position: absolute;
  top: 2858px;
  left: 673px;
  transform: rotate(-8deg);
}
.image10 {
  width: 9%;
  position: absolute;
  top: 2446px;
  left: 980px;
}
.image12 {
  width: 5%;
  position: absolute;
  top: 2847px;
  left: 513px;
}
.image13 {
  width: 6%;
  position: absolute;
  top: 2216px;
  left: 248px;
}

.image15 {
  width: 10%;
  position: absolute;
  top: 2706px;
  left: 1061px;
}
.image18 {
  width: 5%;
  position: absolute;
  top: 2944px;
  left: 926px;
}
.image21 {
  width: 9%;
  position: absolute;
  top: 2612px;
  left: 418px;
}
.image23 {
  width: 6%;
  position: absolute;
  top: 2598px;
  left: 239px;
}
.image25 {
  width: 2%;
  position: absolute;
  top: 2521px;
  left: 334px;
}
.image27 {
  width: 10%;
  position: absolute;
  top: 2885px;
  left: 100px;
}
.image31 {
  width: 7.1%;
  position: absolute;
  top: 2630px;
  left: 716px;
}
.image32 {
  width: 12%;
  position: absolute;
  top: 2910px;
  left: 972px;
}
.image33 {
  width: 7%;
  position: absolute;
  top: 2595px;
  left: 901px;
}
.image35 {
  width: 7%;
  position: absolute;
  top: 2644px;
  left: 628px;
}
.image38 {
  width: 4%;
  position: absolute;
  top: 2649px;
  left: 1116px;
}
.image39 {
  width: 5%;
  position: absolute;
  top: 2755px;
  left: 285px;
}
