@import url("https://fonts.googleapis.com/css2?family=Flavors&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dokdo&display=swap");

.bioContainer {
  background: linear-gradient(rgb(237, 249, 237), rgb(225, 225, 232));
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem 1rem 1rem 1rem;
  min-height: 900px;
  color: black;
  font-family: "Dokdo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

.namePhoto {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 50px;
  position: relative;
}
.name {
  width: 363px;
}

.photo {
  width: 224px;
  height: 224px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 51px;
  left: 72px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.quote {
  font-family: "Flavors", serif;
  font-weight: 400;
  font-style: normal;
}

/* row 1 */
.firstRow {
  display: flex;
  position: relative;
}
/* column1 */
.achievements {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
  flex: 1;
  padding-top: 6rem;
  padding-left: 0.5rem;
}
.achievementsText1 {
  transform: rotate(-3deg);
}
.achievementsText2 {
  margin-right: 60px;
  transform: rotate(-5deg);
}

.achievementsImage1 {
  position: absolute;
  top: 180px;
  left: 121px;
  width: 8%;
}
.achievementsImage2 {
  position: absolute;
  top: 186px;
  left: 316px;
  width: 11%;
}
/* column2 */
.namePhoto {
}
/* column 3 */
.support {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex: 1;
  padding-top: 3rem;
  position: relative;
  transform: rotate(-25deg);
  margin-right: 22px;
}

.supportText1 {
  transform: rotate(2deg);
}

.supportText2 {
  transform: rotate(24deg);
}
.supportImage1 {
  width: 16%;
  position: absolute;
  top: 9px;
  left: 995px;
}
.supportImage2 {
  width: 13%;
  position: absolute;
  top: 164px;
  left: 680px;
}

/* second row */

.secondRow {
  display: flex;
}

.professional {
  flex: 1;
}

.complexTask {
  flex: 1;
}

.personalFacts {
  flex: 1;
}

/* third row */

.thirdRow {
  display: flex;
}

.wisdom {
  flex: 1;
}

.community {
  flex: 1;
}

.plant {
  width: 40%;
}
