@import url("https://fonts.googleapis.com/css2?family=Flavors&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dokdo&display=swap");

.bioContainer {
  background: linear-gradient(rgb(237, 249, 237), rgb(225, 225, 232));
  min-width: 1100px;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem 1rem 1rem 1rem;
  min-height: 900px;
  color: black;
  font-family: "Dokdo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}

/* row 1 */
.firstRow {
  display: flex;
  position: relative;
}
/* column1 */
.achievements {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
  flex: 1;
  padding-top: 6rem;
  padding-left: 0.5rem;
}
.achievementsText1 {
  transform: rotate(-3deg);
}
.achievementsText2 {
  margin-right: 60px;
  transform: rotate(-5deg);
}

.achievementsImage1 {
  position: absolute;
  top: 180px;
  left: 121px;
  width: 8%;
}
.achievementsImage2 {
  position: absolute;
  top: 188px;
  left: 257px;
  width: 13%;
}
/* column2 */

.namePhoto {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 50px;
  position: relative;
}
.name {
  width: 363px;
}

.photo {
  width: 224px;
  height: 224px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 51px;
  left: 72px;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* column 3 */
.support {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex: 1;
  padding-top: 3rem;
  position: relative;
  transform: rotate(-25deg);
  margin-right: 22px;
}

.supportText1 {
  transform: rotate(2deg);
}

.supportText2 {
  transform: rotate(24deg);
}
.supportImage1 {
  width: 16%;
  position: absolute;
  top: 15px;
  left: 911px;
}
.supportImage2 {
  width: 13%;
  position: absolute;
  top: 181px;
  left: 614px;
}

/* quote */

.quote {
  font-family: "Flavors", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  width: 650px;
  margin-top: 6px;
  margin-bottom: 36px;
  padding: 10px;
  border-radius: 34px;
  background-color: #feced0;
}
/* second row */

.secondRow {
  display: flex;
  margin-bottom: 20px;
}

.professional {
  flex-basis: 37%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 60px;
  padding-left: 60px;
  transform: rotate(-10deg);
}

.complexTask {
  flex-basis: 31%;
  display: flex;
  align-items: flex-end;
}

.personalFacts {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* third row */

.thirdRow {
  display: flex;
}

.wisdom {
  flex: 1;
}

.community {
  flex: 1;
}

.plant {
  width: 40%;
}

/* images attached to biocontainer */
.image23 {
  width: 6%;
  position: absolute;
  top: 2625px;
  left: 103px;
}

.image39 {
  width: 8%;
  position: absolute;
  top: 2682px;
  left: 426px;
}

.image35 {
  width: 7%;
  position: absolute;
  top: 2644px;
  left: 628px;
}

.image22 {
  width: 8%;
  position: absolute;
  top: 2695px;
  left: 109px;
}
.image31 {
  width: 7.1%;
  position: absolute;
  top: 2630px;
  left: 716px;
}
.image38 {
  width: 4%;
  position: absolute;
  top: 2649px;
  left: 1116px;
}

.image15 {
  width: 10%;
  position: absolute;
  top: 2706px;
  left: 1061px;
}
.image33 {
  width: 7%;
  position: absolute;
  top: 2595px;
  left: 901px;
}
/* extra images */
.image3 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 6px;
}
.image5 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 200px;
}
.image6 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: -102px;
}

.image7 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 50px;
}

.image8 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: -28px;
  background-color: #151413;
  border-radius: 77px;
}
.image9 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: -125px;
}
.image10 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 0px;
}
.image11 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}
.image12 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}
.image13 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}
.image14 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}

.image16 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}
.image17 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}
.image18 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}
.image19 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}
.image20 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}
.image21 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}

.image24 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}
.image25 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}

.image27 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}
.image28 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}
.image29 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}
.image30 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}

.image32 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}

.image34 {
  width: 12%;
  position: absolute;
  top: 3000px;
  left: 100px;
}
