.input {
  background-color: #ffffff !important;
  color: #424242 !important;
  border: 1px solid #9fa8da !important;
}

.input:focus {
  border-color: #303f9f !important;
}

.label {
  color: #424242;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 35px !important ;
}
